<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color:#f6f6f6">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/tunetracker.png" width="400" height="80" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <div class="input-group custom-input-group">
        <input class="form-control custom-input" type="text" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search">
        <span class="input-group-text bg-white">
          <i class="bi bi-search"></i>
        </span>
        </div>
    </div>
  </div>
</nav>
