<div *ngIf="showAlbums" id="albumsComponent">
  <h1 class="m-5">Top 100 Albums</h1>

  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 m-5" *ngIf="fetchedData$ | async as data">
    <div *ngIf="!(data.feed.entry | filter: searchKey : ['title.label', 'category.attributes.term', 'im:artist.label']).length" class="custom-message-box">
      {{ noResultsMessage }}
    </div>

    <div class="col" *ngFor="let album of data.feed.entry | filter: searchKey: ['title.label', 'category.attributes.term', 'im:artist.label']">
      <div class="card" (click)="redirectToAlbum(album.link.attributes.href)" style="cursor: pointer;">
        <img [src]="album['im:image'][2].label" class="card-img-top" alt="{{ album.title.label }} Cover">
        <div class="card-body">
      <div class="row">
        <div class="col-md-8">
          <h4 class="card-title">{{ album['im:name'].label }}</h4>
          <h6 class="card-title">{{ album['im:artist'].label }}</h6>
          <p class="card-text">{{ album.category.attributes.term }}</p>
        </div>
        <div class="col-md-4 text-end">
          <i class="bi bi-heart"></i>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>
